@{
    ViewData["title"] = "Trang chủ";
}

<!-- Trending Area Start -->
<div class="trending-area fix pt-25 gray-bg">
    <div class="container">
        <div class="trending-main">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Trending Top -->
                    <div class="slider-active">
                        <!-- Single -->
                        @foreach (News news in ViewBag.firstNews)
                        {
                            <div class="single-slider">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="~/images/@news.NewsPreviewImage" alt="" style="max-width: 770px">
                                        <div class="trend-top-cap">
                                            <span class="bgr" data-animation="fadeInUp" data-delay=".2s" data-duration="1000ms">@news.NewsGroup.NewsGroupName</span>
                                            <h2><a asp-controller="news" asp-action="index" asp-route-id="@news.NewsId" data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms">@news.NewsTitle</a></h2>
                                            <p data-animation="fadeInUp" data-delay=".6s" data-duration="1000ms">@news.CreatedByNavigation.Username   -   @news.CreatedDate.Value.ToString("MMMM d, yyyy", new System.Globalization.CultureInfo("en-US"))</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Right content -->
                <div class="col-lg-4">
                    <!-- Trending Top -->
                    <div class="row">
                        @foreach (News news in ViewBag.lastNews)
                        {
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <div class="trending-top mb-30">
                                    <div class="trend-top-img">
                                        <img src="~/images/@news.NewsPreviewImage" alt="">
                                        <div class="trend-top-cap trend-top-cap2">
                                            <span class="bgb">@news.NewsGroup.NewsGroupName</span>
                                            <h2>
                                                <a asp-controller="news" asp-action="index" asp-route-id="@news.NewsId">
                                                    @news.NewsTitle
                                                </a>
                                            </h2>
                                            <p>@news.CreatedByNavigation.Username - @news.CreatedDate.Value.ToString("MMMM d, yyyy", new System.Globalization.CultureInfo("en-US"))</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Trending Area End -->
<!-- Whats New Start -->
<section class="whats-news-area pt-50 pb-20 gray-bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="whats-news-wrapper">
                    <!-- Heading & Nav Button -->
                    <div class="row justify-content-between align-items-end mb-15">
                        <div class="col-xl-4">
                            <div class="section-tittle mb-30">
                                <h3>Whats New</h3>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-9">
                            <div class="properties__button">
                                <!--Nav Button  -->
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        @{
                                            List<NewsGroup> newsGroups = ViewBag.newsGroups;
                                            NewsGroup? firstNewsGroup = newsGroups.FirstOrDefault();
                                            int firstNewsGroupId = firstNewsGroup == null ? -1 : firstNewsGroup.NewsGroupId;
                                        }

                                        @foreach (NewsGroup ng in newsGroups)
                                        {
                                            <a class="nav-item nav-link @(firstNewsGroupId == ng.NewsGroupId ? "active" : "")" id="nav-@ng.NewsGroupId-tab"
                                               data-toggle="tab" href="#nav-@ng.NewsGroupId" role="tab"
                                               aria-controls="nav-@ng.NewsGroupId" aria-selected="false" onclick="showTab(@ng.NewsGroupId)">@ng.NewsGroupName</a>
                                        }

                                    </div>
                                </nav>
                                <!--End Nav Button  -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <!-- Nav Card -->
                            <div class="tab-content" id="nav-tabContent">
                                <!-- Tab content -->
                                @{
                                    List<News> whatsNews = ViewBag.whatsNews;
                                }
                                <!-- card -->
                                @for (int i = 0; i < newsGroups.Count; i++)
                                {
                                    var whatNewsContents = whatsNews.Where(x => x.NewsGroupId == newsGroups[i].NewsGroupId);
                                    NewsGroup currentNewsGroup = newsGroups[i];
                                    News? leftNews = whatNewsContents.FirstOrDefault();
                                    List<News> rightNews = whatNewsContents.Skip(1).ToList();

                                    if (leftNews != null)
                                    {
                                        <div class="tab-pane fade" id="nav-@currentNewsGroup.NewsGroupId" role="tabpanel"
                                             aria-labelledby="nav-@currentNewsGroup.NewsGroupId-tab">
                                            <div class="row">

                                                <!-- Left Details Caption -->
                                                <div class="col-xl-6 col-lg-12">
                                                    <div class="whats-news-single mb-40 mb-40">
                                                        <div class="whates-img">
                                                            <img src="~/images/@leftNews.NewsPreviewImage" alt="">
                                                        </div>
                                                        <div class="whates-caption">
                                                            <h4><a asp-controller="News" asp-action="Index" asp-route-id="@leftNews.NewsId">@leftNews.NewsTitle</a></h4>
                                                            <span>by @leftNews.CreatedByNavigation.Username   -   @leftNews.CreatedDate?.ToString("D")</span>
                                                            <p>Struggling to sell one multi-million dollar home currently on the market won’t stop actress and singer Jennifer Lopez.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Right single caption -->
                                                <div class="col-xl-6 col-lg-12">
                                                    <div class="row">

                                                        @foreach (News n in rightNews)
                                                        {
                                                            <!-- single -->
                                                            <div class="col-xl-12 col-lg-6 col-md-6 col-sm-10">
                                                                <div class="whats-right-single mb-20">
                                                                    <div class="whats-right-img">
                                                                        <img src="~/images/@n.NewsPreviewImage" alt="" style="max-width: 124px; max-height: 104px">
                                                                    </div>
                                                                    <div class="whats-right-cap">
                                                                        <span class="colorb">@currentNewsGroup.NewsGroupName</span>
                                                                        <h4><a asp-controller="News" asp-action="Index" asp-route-id="@n.NewsId">@n.NewsTitle</a></h4>
                                                                        <p>@n.CreatedDate?.ToString("D")</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                }

                            </div>
                            <!-- End Nav Card -->
                        </div>
                    </div>
                    <!-- End Tab content -->

                </div>

            </div>

            <div class="col-lg-4">
                <!-- Most Recent Area -->
                <div class="most-recent-area">
                    <!-- Section Tittle -->
                    <div class="small-tittle mb-20">
                        <h4>Most Recent</h4>
                    </div>
                    <!-- Details -->
                    <div class="most-recent mb-40">
                        <div class="most-recent-img">
                            <img src="~/images/@whatsNews[0].NewsPreviewImage" alt="" style="max-width: 350px">
                            <div class="most-recent-cap">
                                <span class="bgbeg">@whatsNews[0].NewsGroup.NewsGroupName</span>
                                <h4>
                                    <a asp-controller="News" asp-action="Index" asp-route-id="@whatsNews[0].NewsId">
                                        @whatsNews[0].NewsTitle
                                    </a>
                                </h4>
                                <p>@whatsNews[0].CreatedByNavigation.Username  |  @(Math.Round(DateTime.Now.Subtract((DateTime)whatsNews[0].CreatedDate).TotalHours)) hours ago</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single -->
                    @if(whatsNews.Count >= 1)
                    {
                        <div class="most-recent-single">
                            <div class="most-recent-images">
                                <img src="~/images/@whatsNews[1].NewsPreviewImage" alt="" style="max-width: 85px">
                            </div>
                            <div class="most-recent-capt">
                                <h4><a asp-controller="News" asp-action="Index" asp-route-id="@whatsNews[1].NewsId">@whatsNews[1].NewsTitle</a></h4>
                                <p>@whatsNews[1].CreatedByNavigation.Username  |  @(Math.Round(DateTime.Now.Subtract((DateTime)whatsNews[1].CreatedDate).TotalHours)) hours ago</p>
                            </div>
                        </div>
                    }

                    @if(whatsNews.Count >= 2)
                    {
                        <!-- Single -->
                        <div class="most-recent-single">
                            <div class="most-recent-images">
                                <img src="~/images/@whatsNews[2].NewsPreviewImage" alt="" style="max-width: 85px">
                            </div>
                            <div class="most-recent-capt">
                                <h4><a asp-controller="News" asp-action="Index" asp-route-id="@whatsNews[2].NewsId">@whatsNews[2].NewsTitle</a></h4>
                                <p>@whatsNews[2].CreatedByNavigation.Username  |  @(Math.Round(DateTime.Now.Subtract((DateTime)whatsNews[2].CreatedDate).TotalHours)) hours ago</p>
                            </div>
                        </div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Whats New End -->
<!--   Weekly2-News start -->
<div class="weekly2-news-area pt-50 pb-30 gray-bg">
    <div class="container">
        <div class="weekly2-wrapper">
            <div class="row">
                <!-- Banner -->
                <div class="col-lg-3">
                    <div class="home-banner2 d-none d-lg-block">
                        <img src="~/assets/img/gallery/body_card2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="slider-wrapper">
                        <!-- section Tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="small-tittle mb-30">
                                    <h4>Most Popular</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly2-news-active d-flex">

                                    @foreach (News n in ViewBag.mostPopular)
                                    {
                                        <!-- Single -->
                                        <div class="weekly2-single">
                                            <div class="weekly2-img">
                                                <img src="~/images/@n.NewsPreviewImage" alt="">
                                            </div>
                                            <div class="weekly2-caption">
                                                <h4><a asp-controller="News" asp-action="Index" asp-route-id="@n.NewsId">@n.NewsTitle</a></h4>
                                                <p>@n.CreatedByNavigation.Username  |  @(Math.Round(DateTime.Now.Subtract((DateTime)n.CreatedDate).TotalHours)) hours ago</p>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Weekly-News -->

<!--   Weekly3-News start -->
<div class="weekly3-news-area pt-80 pb-130">
    <div class="container">
        <div class="weekly3-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slider-wrapper">
                        <!-- Slider -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="weekly3-news-active dot-style d-flex">

                                    @foreach (News n in ViewBag.allNews)
                                    {
                                        <div class="weekly3-single">
                                            <div class="weekly3-img">
                                                <img src="~/images/@n.NewsPreviewImage" alt="">
                                            </div>
                                            <div class="weekly3-caption">
                                                <h4><a asp-controller="News" asp-action="Index" asp-route-id="@n.NewsId">@n.NewsTitle</a></h4>
                                                <p>@n.CreatedDate?.ToString("M")</p>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Weekly-News -->

<script>

    var element = document.querySelector('.nav-item.nav-link.active');
    var tabShowedContentId = element.getAttribute("aria-controls");
    var tabShowedContent = document.getElementById(tabShowedContentId);
    tabShowedContent.classList.add('show');
    tabShowedContent.classList.add('active');

    function showTab(newsGroupId) {
        console.log(document.getElementById('nav-' + newsGroupId));
    }
</script>