@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<Comment>
@{
    int id = (int)ViewBag.newsId;
}
<h4>@(Model == null ? 0 : Model.TotalItemCount) Comments</h4>

@foreach (Comment cmt in Model)
{
    <div class="comment-list">
        <div class="single-comment justify-content-between d-flex">
            <div class="user justify-content-between d-flex">
                <div class="desc">
                    <p class="comment">
                        @cmt.Content
                    </p>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <h5>
                                <a href="">@cmt.Customer.UserName</a>
                            </h5>
                            <p class="date">
                                @cmt.UpdatedDate.Value.ToString("g", new System.Globalization.CultureInfo("en-US"))
                            </p>
                        </div>
                        @*<div class="reply-btn">
                            <a href="#" class="btn-reply text-uppercase">reply</a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@if(Model.Count > 0)
{
    <div class="pagination-container-comment">
        @Html.PagedListPager(Model, page => Url.Action("GetCommentPagedList", "Comment", new { page, id=id }),
    new PagedListRenderOptions {
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    LiElementClasses = new string[] { "page-item", "comment" },
    PageClasses = new string[] { "page-link" }
    })
    </div>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    $(function () {
        var container = $('.pagination-container-comment');

        // Intercept the click event on pagination links
        container.on('click', '.pagination .comment a', function (e) {
            e.preventDefault();

            // Get the URL of the clicked page
            var url = $(this).attr('href');
            //url = url.replace('News','Comment');
            console.log(url);
            //var currentPageNumber = this.innerHTML;

            // Perform the AJAX request
            $.get(url, function (data) {
                // Update the partial view with the returned data
                $('#comment-partial-view-container').html(data);
                console.log(url);
                //document.getElementById('page').value = currentPageNumber;
            });
        });
    });
</script>